name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ['10', '12', '13', '14']
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: Test with Node ${{ matrix.node }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          git config --global core.eol lf
          git config --global core.autocrlf input
          git rm -rf --cached .
          git reset HEAD --hard
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run lint
      - run: npm test
